#heading
{
    text-align: center;
    color: Orangered;
}

button{
    background-color: green;
    border: none;
    padding: 1%;
    margin-top: 12px;
    border-radius: 22px;
    width: 300px;
    cursor: pointer;
}

button:hover{
    background-color: lightgreen;
    transition: 0.5s;
    color: orangered;
    font-size: 20px;
}

body{
    background-image: linear-gradient(to right,red,blue);
}